@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #d4a539;
}

.bg-light {
  background: #f4f4f4;
  color: #161615;
}

.bg-dark {
  background: #161615;
  color: #fff;
}

.bg-primary {
  background: #d4a539;
  color: #fff;
}

.l-heading {
  font-family: "Playfair Display", sans-serif;
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  width: 700px;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #d4a539;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #b99132;
}

.btn-dark {
  background: #161615;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #161615;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar .nav-header {
  font-family: "Playfair Display", sans-serif;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #d4a539;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #161615 url("../img/backsplash.png") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

/* Section: History */
#history .history-flex {
  display: flex;
  padding: 1rem;
  margin-top: 3rem;
}

#history .text {
  flex: 1;
}

#history .items .item i {
  background: #161615;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#history .history-img {
  flex: 1;
  background: url("../img/mugshot.png") no-repeat center center/cover;
  border-radius: 8px;
  margin-right: 3rem;
}

/* Section: About Us */
#aboutus .about-text {
  text-align: center;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
